<form action="" id="addUserForm">
  <table>
    <tr>
      <td>Name</td>
      <td>
        {{input value=userService.editUser.name name='name' id="name"}}
      </td>
    </tr>
    <tr>
      <td>Age</td>
      <td>
        {{input value=userService.editUser.age  name='age' id="age"}}
      </td>
    </tr>
    <tr>
      <td></td>
      <td>
        <button type="button" {{action 'submitUser' on='click'}}>Submit</button>
      </td>
    </tr>
  </table>
</form>